<div class="left">
    <div class="detail-header">
        <img src="./images/daikuan.png" alt="">
        <p>贷款</p>
    </div>
    <ul>
        <li class="active"><a href="">按揭贷款</a></li>
        <li><a href="">抵押贷款</a></li>
        <li><a href="">信用贷款</a></li>
    </ul>
</div>
<div class="right">
    <h3>按揭贷款</h3>
    <div class="right-content">
        <h4>
            一、公积金贷款
        </h4>
        <br/>
        <h4>
            针对缴存住房公积金职工的交易类按揭贷款，是所有按揭贷款中利率最低的。最低首付20%，最高贷120万，年利率3.25%
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            首套利率：2.75%-3.25%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;最高额度：120万
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            二套利率：3.025%-3.58%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;最高额度：80万
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            贷款期限：1-25年
        </h4>
        <br/>
        <br/>
        <br/>
        <h4>
            二、二手房按揭
        </h4>
        <br/>
        <h4>
            二手房交易过程中，借款人以准备购买的房产向银行申请贷款，用于支付房款，再分期向银行还本付息的一种方式。最低首付  
        </h4>
        <br/>
        <h4>
                35%，期限最长25年，年利率5.05起
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            我们跟多家银行多年合作，在确保批贷的情况下，帮您找到利率最低的银行
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            首套利率：5.05%起&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 首套首付：35%
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            二套利率：5.88%起&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 二套首付：60%
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            贷款期限：1-25年
        </h4>
        <br/>
        <br/>
        <br/>
        <h4>
            三、组合贷
        </h4>
        <br/>
        <h4>
            贷款买房时，因公积金贷款额度不能满足贷款需求时，同时配套商业贷款而形成的特定的贷款组合。
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            首套利率 公积金：3.25%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;商贷：5.05%起
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            二套利率 公积金：3.9%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;商贷：5.88%起
        </h4>
        <br/>
        <h4 style="text-indent:2em;">
            贷款期限：1-25年
        </h4>
        <br/>
        <h4>
            低利率+高额度，鱼和熊掌真的可以兼得
        </h4>
    </div>
</div>

