<div class="header">
    <div class="header-tel">
        <div class="contain">
            <p>24H热线：400-101-0621</p>
            <p>咨询电话：010-52476637</p>
        </div>
    </div>
    <div class="header-nav">
        <div class="contain">
            <a href="./index.html"><img src="./images/logo.png" alt=""></a>
            <ul class="header-ul">
                <li>
                    <a href="./zengyu.html">房产变更</a>
                    <ul>
                        <li><a href="./zengyu.html">赠予</a></li>
                        <li><a href="./jicheng.html">继承</a></li>
                        <li><a href="./fuqigengming.html">夫妻更名</a></li>
                        <li><a href="./lihunxichan.html">离婚析产</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./goufangzigeshenqing.html">网上签约</a>
                    <ul>
                        <li><a href="./goufangzigeshenqing.html">购房资格申请</a></li>
                        <li><a href="./fangwuheyan.html">房源录入与查询</a></li>
                        <li><a href="./wangshangqianyue.html">网上签约</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./anjiedaikuan.html">贷款</a>
                    <ul>
                        <li><a href="./anjiedaikuan.html">按揭贷款</a></li>
                        <li><a href="./diyadaikuan.html">抵押贷款</a></li>
                        <li><a href="./xinyongdaikuan.html">信用贷款</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./gerenershoufangshuifei.html">房产税费</a>
                    <ul>
                        <li><a href="./gerenershoufangshuifei.html">个人二手房税费</a></li>
                        <li><a href="./gongsichanquanshuifei.html">公司产权税费</a></li>
                        <li><a href="./shangyeyongfangwushuifei.html">商业用房税费</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./gerenershoufangguohu.html">房产过户</a>
                    <ul>
                        <li><a href="./gerenershoufangguohu.html">个人二手房过户</a></li>
                        <li><a href="./gongsifangchanguohu.html">公司房产过户</a></li>
                        <li><a href="./shangpuxiezilougongyuguohu.html">商铺写字楼公寓过户</a></li>
                    </ul>
                </li>

                <li><a href="{{ toSrc }}">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>