<!DOCTYPE html>
<html>

<head>
    <template src="../templates/title.template.html"></template>
    <title></title>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>贷款</p>
                    <p>/LOAN/</p>
                </div>
            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>贷款> </li>
                    <li>按揭贷款</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                         <img src="../images/ic3.png" alt="">
                        <p>贷款</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./anjiedaikuan.html">按揭贷款</a></li>
                        <li class="active"><a href="./diyadaikuan.html">抵押贷款</a></li>
                        <li><a href="./xinyongdaikuan.html">信用贷款</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>抵押贷款</h3>
                    <div class="right-content">
                        <h4>
                            抵押消费贷款
                        </h4>

                        <br/>
                        <h4>
                            借款人以银行认可的本人或者第三人的可上市流通的房产作为抵押物，向银行申请的抵押贷款。
                        </h4>
                        <br/>
                        <h4 style="text-indent:2em;">
                            贷款利率：5.39%起&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;贷款额度：最高200万
                        </h4>
                        <br/>
                        <h4 style="text-indent:2em;">
                            批贷时间：5-10个工作日&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;贷款期限：最长10年
                        </h4>
                        <br/>
                        <h4 style="text-indent:2em;">
                            优势：利率低，用途广，可提前还款
                        </h4>
                        <br/>
                        <br/>
                        <br/>
                        <h4>
                            抵押经营贷款
                        </h4>
                        <br/>
                        <h4>
                            借款人以银行认可的本人或者第三人的可上市流通的房产作为抵押物，向银行申请的抵押贷款。主要用于企业经营。
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>
</body>

</html>