<!DOCTYPE html>
<html>
<head>
    <template src="../templates/title.template.html"></template>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>网上签约</p>
                    <p>/ONLINE SIGNING/</p>
                </div>
            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>网上签约> </li>
                    <li>房源录入与查询</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                        <img src="../images/ic2.png" alt="">
                        <p>网上签约</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./goufangzigeshenqing.html">购房资格申请</a></li>
                        <li class="active"><a href="./fangwuheyan.html">房源录入与查询</a></li>
                        <li><a href="./wangshangqianyue.html">网上签约</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>房源录入与查询</h3>
                    <div class="right-content">
                            <p>
                                <h4 class="bold">
                                    房源录入与查询：
                                </h4>
                                <br />
                                <p class="line">服务内容：查询房屋产权是否有抵押、查封、财产保全、预售登记、抵押注销等房产相关信息。<br /><br /></p>
                            <p class="line" style="text-indent:2em;"> 房产抵押：是指产权所有人以房契作为抵押，取得借款按期付息。房屋产权仍由产权所有者自行管理，债权人只按期取息，而无使用管理房屋的权利，待借款还清，产权人收回房契抵押即告终结。如债务人不能履行债务，则债权人有权依法处分抵押房屋，并在处分抵押房屋所得价款中优先受偿。 提供抵押房屋的当事人称为房屋抵押人，接受抵押房屋的原债权人称为房屋抵押权人。房屋抵押人必须具有完全的民事行为能力，无民事行为能力和限制民事行为能力的人不得设定房屋抵押。<br /><br /></p>
                            <p class="line" style="text-indent:2em;">查封登记 ：  是作为被执行人的房地产权利人因继承、判决或者强制执行等原因，而当事人尚未向权属登记机关办理登记手续；而由执行法院向登记机关提供被执行人取得财产所依据的继承证明、生效判决书或者执行裁定书及协助执行通知书，由登记机关对该房屋的权属直接进行登记，然后再予以查封。<br /><br /></p>
                            <p class="line" style="text-indent:2em;">财产保全：是指人民法院在利害关系人起诉前或者当事人起诉后，为保障将来的生效判决能够得到执行或者避免财产遭受损失，对当事人的财产或者争议的标的物，采取限制当事人处分的强制措施。<br /><br /></p>
                            <p class="line" style="text-indent:2em;">预告登记：指当事人签订买卖房屋或者其他不动产物权的协议，为保障将来实现物权，而按照约定可以向登记机关申请预告登记。如在商品房预售中，购房者可以就尚未建成的住房进行预告登记，以制约开发商把已出售的住房再次出售或者进行抵押。</p>
                                </p>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>


</body>

</html>