<!DOCTYPE html>
<html>
<head>
    <template src="../templates/title.template.html"></template>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>房产税费</p>
                    <p>/HOUSING TAX/</p>
                </div>
            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>房产税费> </li>
                    <li>个人二手房税费</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                        <img src="../images/ic4.png" alt="">
                        <p>房产税费</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li class="active"><a href="./gerenershoufangshuifei.html">个人二手房税费</a></li>
                        <li><a href="./gongsichanquanshuifei.html">公司产权税费</a></li>
                        <li><a href="./shangyeyongfangwushuifei.html">商业用房屋税费</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>个人二手房税费</h3>
                    <div class="right-content">
                            <p class="line">
                                    二手房税费包括印花税（包括交易印花税、房产证印花税）、契税、营业税、城市建设维护税、教育费附加税、个人所得税、土地增值税、土地出让金、综合地价款八个税种
                                </p>
                                <br/>
                                <br/>
                                <img src="../images/content-img-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>