<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>房产过户</p>
                    <p>/PROPERTY TRANSFER/</p>
                </div>
            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>房产过户> </li>
                    <li>公司房产过户</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                         <img src="../images/ic5.png" alt="">
                        <p>房产过户</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./gerenershoufangguohu.html">个人二手房过户</a></li>
                        <li class="active"><a href="./gongsifangchanguohu.html">公司房产过户</a></li>
                        <li><a href="./shangpuxiezilougongyuguohu.html">商铺写字楼公寓过户</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>公司房产过户</h3>
                    <div class="right-content">
                            <p>
                                    在房产证上产权人一栏如果写着公司全称就是公司产权。<br /><br />
                                企业产权的房子和普通商品房一样具备法律效力，可以进行交易，但是需要缴纳的税费及缴税时间却不尽相同。<br /><br />
                                公司产权的房子在出售之前需先交纳房产税和土地使用税。<br /><br />
                                房产税年费用=房屋购买价格*70%*1.2%<br /><br />
                                土地使用税年费用=房屋面积*土地级别标准收费（18~30元/平米）
                                </p>
                                <br />
                                <p class="line" style="font-size: 12px;">
                                    (注：如房产税和土地使用税没有按年缴纳的话，每年都需要缴违约金（日息万分之五）。如果公司自从购买房屋后从未缴纳过这两项费用，那么必须先完税并缴纳违约金之后，该房产才能上市交易。)
                                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>