<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>房产税费</p>
                    <p>/HOUSING TAX/</p>
                </div>
            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>房产税费> </li>
                    <li>公司产权税费</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                        <img src="../images/ic4.png" alt="">
                        <p>房产税费</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./gerenershoufangshuifei.html">个人二手房税费</a></li>
                        <li class="active"><a href="./gongsichanquanshuifei.html">公司产权税费</a></li>
                        <li><a href="./shangyeyongfangwushuifei.html">商业用房屋税费</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>公司产权税费</h3>
                    <div class="right-content">

                            <h4 class="bold">
                                公司产权税费
                            </h4>
                            <br />
                            <p>
                                    <p class="line">买卖公司产权的房子，要交六种税房产税、土地使用税、契税、增值税、土地增值税、印花税。需要注意的是，公司产权的房子上市交易必须结清房产税以及土地使用税。详细信息如下：<br/></p>
                            <p class="line bold">一、公司产权的房子需要结清房产税和土地使用税以下税费才能上市交易：<br /></p>
                                <p class="line" style="text-indent:2em;">1、房产税的缴纳标准：房屋购买价格70%1.2%/年&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                                <p class="line" style="text-indent:2em;">2、土地使用税的缴纳标准：房屋面积 * 土地级别标准收费/年（18元-30元/平米不等）</p>
                                <p class="line" style="text-indent:2em;">说明：房产税和土地使用税要求公司每年向公司所属的税务所自行申报。若没按年缴纳的话，每年都需缴违约金，日息万分之五。如果公司自从购买房屋后从未缴纳过房产税及土地使用税的，税务要求先完税并缴纳相应违约金后此房产才能上市交易。</p><br /><br />
                                <p class="line bold">二、交易中，还需要缴纳以下税费</p>
                                <p class="line" style="text-indent:2em;">1、【买方税费】（分为三种情况），分别如下：</p>
                                <p class="line" style="text-indent:2em;">契税：个人买公司产权住宅：申报价*（1%-3%）</p>
                                <p class="line" style="text-indent:2em;">公司买公司：申报价3%，印花税=申报价万分之五</p>
                                <p class="line" style="text-indent:2em;">2、【卖方税费】</p>
                                <p class="line" style="text-indent:2em;">A.增值税 =（申报价-原值）*5.6%；&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                                <p class="line" style="text-indent:2em;">B.印花税 = 申报价 * 万分之五；&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                                <p class="line" style="text-indent:2em;">C.土地增值税 = （网签价-原购房价-原契税-现增值税-折旧）*30%（根据增值部分的多少按照30%-60%不等缴税税费）</p>

                            </p>
                            <p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>