<!DOCTYPE html>
<html>
<head>
    <template src="../templates/title.template.html"></template>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>网上签约</p>
                    <p>/ONLINE SIGNING/</p>
                </div>
            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>网上签约> </li>
                    <li>购房资格申请</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                        <img src="../images/ic2.png" alt="">
                        <p>网上签约</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li class="active"><a href="./goufangzigeshengqing.html">购房资格申请</a></li>
                        <li><a href="./fangwuheyan.html">房源录入与查询</a></li>
                        <li><a href="./wangshangqianyue.html">网上签约</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>购房资格申请</h3>
                    <div class="right-content">
                            <p class="line" style="text-indent:2em;">《国务院关于坚决遏制部分城市房价过快上涨的通知》(国发〔2010〕10号)和《北京市人民政府贯彻落实国务院关于坚决遏制部分城市房价过快上涨文件的通知》(京政发〔2010〕13号)印发后，本市房地产市场出现积极变化，房价过快上涨的势头得到初步遏制。为巩固和扩大调控成果，坚决贯彻落实《国务院办公厅关于进一步做好房地产市场调控工作有关问题的通知》(国办发〔2011〕1号)精神，进一步做好本市房地产市场调控工作，逐步解决城镇居民住房问题，促进房地产市场平稳健康发展，购买北京市存量房屋需要具备如下购房资格：<br /><br /></p>
                            <p style="text-indent:2em;">A.本市户籍居民家庭<br /><br /></p>
                            <p style="text-indent:2em;">B..驻京部队现役军人和现役武警家庭<br /><br /></p>
                            <p style="text-indent:2em;">C.持有效《北京市工作居住证》家庭<br /><br /></p>
                            <p style="text-indent:2em;">D.非本市户籍家庭(连续5年在本市缴纳社保或个税）<br /><br /></p>
                            <p style="text-indent:2em;">E.港澳台、华侨家庭家庭<br /><br /></p>
                            <p style="text-indent:2em;">F.外籍家庭<br /><br /></p>
                            <p style="text-indent:2em;">G.非个人独资类公司—无限制</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>