<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>房产过户</p>
                    <p>/PROPERTY TRANSFER/</p>
                </div>

            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>房产过户> </li>
                    <li>商铺写字楼公寓过户</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                        <img src="../images/ic5.png" alt="">
                        <p>房产过户</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./gerenershoufangguohu.html">个人二手房过户</a></li>
                        <li><a href="./gongsifangchanguohu.html">公司房产过户</a></li>
                        <li class="active"><a href="./shangpuxiezilougongyuguohu.html">商铺写字楼公寓过户</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>商铺写字楼公寓过户</h3>
                    <div class="right-content">
                            <p class="line">
                                    &nbsp; &nbsp; &nbsp;写字楼就是专业商业办公用楼的别称，严格地讲，写字楼是不能用于住人的。这是房屋的房产证上有明确注明的。写字楼原意是指用于办公的建筑物，或者说是由办公室组成的大楼。
                            </p>
                            <p class="line">
                                    &nbsp; &nbsp; &nbsp;商铺是专门用于商业经营活动的房地产，是经营者对消费者提供商品交易、服务及感受体验的场所。广义的商铺，其概念范畴不仅包括零售商业，还包括娱乐业、餐饮业、旅游业所使用的房地产，盈利性的展览馆厅、体育场所、浴室，以及银行、证券等营业性的有建筑物实物存在的经营交易场所
                                </p>

                                    <br />
                                    <br />
                                <img src="../images/content-img.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>