<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>网上签约</p>
                    <p>/ONLINE SIGNING/</p>
                </div>

            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>网上签约> </li>
                    <li>网上签约</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                        <img src="../images/ic2.png" alt="">
                        <p>网上签约</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./goufangzigeshenqing.html">购房资格申请</a></li>
                        <li><a href="./fangwuheyan.html">房源录入与查询</a></li>
                        <li class="active"><a href="./wangshangqianyue.html">网上签约</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>网上签约</h3>
                    <div class="right-content">

                            <p class="line" style="text-indent:2em;">网签是为了规范存量房交易市场，规范经纪行业管理，北京市建设委员会在2008年9月1日发布《北京市房地产经纪行业动态监督管理暂行办法》（京建交【2008】577号）并在2008年10月15日起全面强制推行存量房买卖合同网上签约。<br /></p>
                            <br />
                        网签注意事项：<br /><br />
                        <p style="text-indent:2em;">1.网签没有时效性，网签不会过期！<br /><br /></p>
                        <p style="text-indent:2em;">2.以下房屋不能进行网上签约<br /><br /></p>
                        <p style="text-indent:4em;">A、被法院查封的房屋（产权纠纷、冻结、保全）<br /><br /></p>
                        <p style="text-indent:4em;">B、不满5年的一类经济适用房或集资建房<br /><br /></p>
                        <p style="text-indent:4em;">C、未办理央产上市登记的央产房<br /><br /></p>
                        <p style="text-indent:4em;">D、无房产证的房屋<br /><br /></p>
                        <p style="text-indent:4em;">E、未签署网签授权委托书。<br /><br /></p>
                        <p style="text-indent:2em;">3.已经签约完成的网签可以通过网签编号和密码在北京市住房和城乡建设委员会<br /><br /></p>
                        <p style="text-indent:2em;">查询网址：<a style="color: #3b97ff" href="http://www.bjjs.gov.cn/eportal/ui?pageId=307710">http://www.bjjs.gov.cn/eportal/ui?pageId=307710</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>