<!DOCTYPE html>
<html>
<head>
    <template src="../templates/title.template.html"></template>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>贷款</p>
                    <p>/LOAN/</p>
                </div>

            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>贷款> </li>
                    <li>按揭贷款</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                         <img src="../images/ic3.png" alt="">
                        <p>贷款</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li><a href="./anjiedaikuan.html">按揭贷款</a></li>
                        <li><a href="./diyadaikuan.html">抵押贷款</a></li>
                        <li class="active"><a href="./xinyongdaikuan.html">信用贷款</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>信用贷款</h3>
                    <div class="right-content">
                        <h4>
                            抵主要针对工薪阶层发放的无抵押贷款
                        </h4>
                        <br/>
                        <h4>
                            主要根据工资流水，公积金或者社保缴存基数确定额度。年息6.86%，年限:3年期
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>