<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="style/item.css">
</head>
<body>
    <template toSrc="./index.html#contact" src="../templates/header.template.html"></template>
    <div class="content">
        <div class="banner">
            <div class="contain">
                <div>
                    <p>房产变更</p>
                    <p>/CHANGE/</p>
                </div>

            </div>
        </div>
        <div class="crumbs">
            <div class="contain">
                <ul>
                    <li>当前位置：</li>
                    <li>首页 > </li>
                    <li>房产变更> </li>
                    <li>赠予</li>
                </ul>
            </div>
        </div>
        <div class="detail">
            <div class="contain">
                <div class="left">
                    <div class="detail-header">
                         <img src="../images/ic1.png" alt="">
                        <p>房产变更</p>
                        <span class="triangle"></span>
                    </div>
                    <ul>
                        <li class="active"><a href="./zengyu.html">赠予</a></li>
                        <li><a href="./jicheng.html">继承</a></li>
                        <li><a href="./fuqigengming.html">夫妻更名</a></li>
                        <li><a href="./lihunxichan.html">离婚析产</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3>赠予</h3>
                    <div class="right-content">
                            <h4 class="bold">
                                房屋赠与
                                </h4>
                                <br/>
                                <p>
                                    <span>指一方(赠与人)自愿把自己所有的房屋无偿赠与他人(受赠人)，他人愿意接受的民事法律行为。<br /><br /></span>
                                    <span class="line">房屋赠与的双方当事人应订立书面合同据国家财政部下发个人无偿受赠房屋有关个人所得税问题通知指出，三种情形下的房屋产权无偿赠与，对当事双方不征收个人所得税。</span><br /><br />
                                </p>
                                <br />
                                <br />
                                <h4>
                                    <span>通知全文如下:</span>
                                </h4>
                                <br />
                                <p>
                                    <span>一.</span><span>&nbsp;</span><span>以下情形的房屋产权无偿赠与，不用征收增值税，个人所得税 （受赠人需做资质审核）</span>
                                </p>
                                <br />
                                <p>
                                    <p style="text-indent:2em;">(1)房屋产权所有人将房屋产权无偿赠与配偶、父母、子女、祖父母、外祖父母、孙子女、外孙子女、兄弟姐妹;<br /><br />
                                </p><p style="text-indent:2em;">(2)房屋产权所有人将房屋产权无偿赠与对其承担直接抚养或者赡养义务的抚养人或者赡养人;<br /><br />
                                </p><span>&nbsp; &nbsp; &nbsp; &nbsp;——节选自《财政部国家税务总局关于个人无偿受赠房屋有关个人所得税问题的通知》<br /><br />
                                </span><span>上述情况契税按照3%征收，另需缴纳0.1%的印花税<br /><br />
                                </span><span>再次转让：以当时税务执行政策为准，原值为捐赠人购买时的原值，房屋时间以受赠前计算。</span>
                                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template src="../templates/footer.template.html"></template>
    <script src="scripts/jquery.min.js"></script>

</body>

</html>